.navbar{
    display: flex;
justify-content: space-between;
padding: 1em;
}

.navbar ul{
    list-style-type: none;
    display: flex;
   align-items: center;
}

.navbar li {
    margin: 10px;
}

.navbar a{
    color: aliceblue !important;
}