.skill{
    border-radius: 10px;
    background-color: rgba(71, 75, 85, 0.75);
    margin: 75px;
    padding: 25px;
}

.skill img{
    height: 140px;
    margin: 25px;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0.25,0.25));

}
.skill h1{
    font-size: 45px;

}

.skill p{
    font-size: 20px;
}

.skill img:hover{
    background-color:aliceblue;
    transition-duration: 0.5s;
    transform: translateY(-7px);
    padding: 20px;
}